@let state = field.field(); @let selectId = field.key() + '-select'; @if
(field.label(); as label) {
<label hlmLabel [for]="selectId"> {{ label | dynamicText | async }} </label>
}
<hlm-native-select
  [ngForgeControl]="'select'"
  [formField]="state"
  [selectId]="selectId"
  [tabIndex]="field.tabIndex()"
  [forceInvalid]="state().invalid() && state().touched()"
>
  @for (option of options(); track option.value) {
  <option [value]="option.value" [disabled]="option.disabled ?? false">
    {{ option.label | dynamicText | async }}
  </option>
  }
</hlm-native-select>
@if (field.errorsToDisplay()[0]; as error) {
<p class="field-error" [id]="field.errorId()" role="alert">
  {{ error.message }}
</p>
} @else if (props()?.hint; as hint) {
<p class="field-hint" [id]="field.hintId()">{{ hint }}</p>
}
