TRINITY_PUSH_GATEWAY_FCM_CLIENT_EMAIL=gateway@example.test
TRINITY_PUSH_GATEWAY_FCM_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace-me\n-----END PRIVATE KEY-----\n"
TRINITY_PUSH_GATEWAY_FCM_PROJECT_ID=replace-me
TRINITY_PUSH_GATEWAY_FINGERPRINT_KEY=replace-with-at-least-32-random-bytes
